   <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "my-1 text-sm leading-5 transition-colors duration-200 transform text-gray-900 hover:text-blue-400 hover:underline md:mx-4 md:my-0") %>
<section class="container mx-auto flex justify-center">
  <div class="w-screen min-h-screen mx-3 py-3 text-center flex flex-col">
    <div class="grow text-center flex justify-center items-center">
      <div class="italic font-black text-3xl text-terciary">PayTracker</div>
    </div>
    <div>
      <div class="text-gray-300 font-light my-2"><%= link_to "Log in", new_user_session_path, class: "bg-primary hover:bg-blue-700 text-white block py-3 px-4 rounded-sm" %></div>
      <div class="text-gray-300 font-light my-2"><%= link_to "Sign up", new_user_registration_path, class: "bg-primary hover:bg-blue-700 text-white block py-3 px-4 rounded-sm" %></div>
    </div>
  </div>
</section>
