<div class="fixed w-full left-0 top-0 bg-transparent z-10 h-screen hidden transition-all" id="backdrop"></div>
<nav id="mobile-menu" class="fixed w-3/4 left-0 top-0 bg-blue-400 opacity-90 text-white z-20 h-screen p-4 flex justify-center items-center gap-10 -translate-x-full transition-all">
  <% if user_signed_in? %>
    <h3 class="absolute top-10 text-sm">Signed in as <%= current_user.name %></h3>
  <% end %>
  <ul>
    <% if user_signed_in? %>
    <li><%= button_to "sign out", destroy_user_session_path, method: :delete, class: "text-2xl uppercase"%></li>
    <% else %>
    <li><%= link_to "sign in", new_user_session_path, class: "text-2xl uppercase"%></li>
    <% end %>
  </ul>
</nav>